<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Face Expression Classifier</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/grayscale.css" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/grayscale.css') }}" rel="stylesheet"> -->

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Welcome!</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Motivation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Mission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">How do you feel today?</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Can A Computer Tell?</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Let's find out</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Motivation</h2>
            <p class="text-white-50">
              We are so use to reading and seen people faces that it become natural of just predict what other is thinking or feeling. 
              But can it be done through computer vision? is it possible to have a computer to guess what the person is feeling at the time with just their facial expression? 
              So today, our team took up this challenge and we are planning to answer it with deep learning neural network that give computer vision the ability to recognize how one feel at given moment.
            </p>
          </div>
        </div>
        <img src="static/img/4pic.jpg" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Content Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- First Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="static/img/relight.png" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Beginning of the Journey</h4>
              <p class="text-black-50 mb-0">
                In order to make a machine (computer) understand to know how you feel, there are a lot of thing that we have to first teach it.
                We need to first teach a computer to look (use webcam), then where to look (identify the target: human face) *Sometime we do caught elf lurking in the background...
              </br >
                A large set of human face data is necessary to feed into the program so it knows what a human face is, so <a href="https://www.kaggle.com/c/challenges-in-representation-learning-facial-expression-recognition-challenge">Kaggle Facial Expression Recognition Challenge (FER2013)</a> fit our need.
              </p>
            </div>
          </div>
        </div>

        <!-- Second Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="static/img/point of recognition.jpeg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Feeding "Emotion Model"</h4>
                  <p class="mb-0 text-white-50">
                    In Machine Learning term, "Model" commonly known as a collection of rules for computer to process data, other may see it as the regression data and related statistics.
                    For our project's demonstration need, we had found a well-trained keras CNN (known as "Convolutional Nerual Network") <a href="https://github.com/oarriaga/face_classification/blob/master/trained_models/fer2013_mini_XCEPTION.119-0.65.hdf5">XCEPTION model</a> from <a href=https://mas-group.inf.h-brs.de/?page_id=622>B-IT-BOTS team</a> that has ~66% accuracy of predicting a human facial expression.
                  </br >
                    *Please also checkout of their <a href="https://github.com/oarriaga/face_classification/blob/master/report.pdf">publication</a> for the details of how the <a href="https://github.com/oarriaga/face_classification/blob/master/trained_models/fer2013_mini_XCEPTION.119-0.65.hdf5">model</a> was trained.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Third Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="static/img/dotface.jpeg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Finding the "FACE"</h4>
                  <p class="mb-0 text-white-50">
                    There are plenty of different method/algorithm/model that are good at detecting what a human face is.
                    We had found that what <a href="https://docs.opencv.org/3.4.1/d7/d8b/tutorial_py_face_detection.html">OpenCV Haar-Casscade Model</a> offered work the best with not only locating where the human face in a image/video, 
                    but also very capable of reshaping/pre-processing the data source into computer best understand/digest format.
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Fourth Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="static/img/ml1.jpg" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Making it "ALIVE"!</h4>
                  <p class="mb-0 text-white-50">
                    A long journey has lead us to point... 
                    We have created a web application using Python Flask that allow user to submit an image of a human face,
                    and the computer will be able to "detect" where the face is located at the picture then crop it out.
                    Once it is crop and pre-process into a grayscale format, then it will pass into our Keras CNN model where the computing happen! 
                  </br >
                    (or call it "magic" which ever way you preferred...)
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </br >
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
          </div>
        </div>
      </div>
      </br >
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
            <h2 class="text-black-50 mb-5">Time to Witness Yourself!</h2>
            <form class="form-inline d-flex" method=post enctype=multipart/form-data action='/upload'>
              <input type=file class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0">
              <input type='submit' class="btn btn-primary mx-auto" value='submit'>
            </form>
          </div>
        </div>
      </div>
      
    </section>

    <!-- Team Header -->
    <section id="signup" class="signup-section col-lg-12 md-10 mb-md-0 mx-auto signupbgimg"></section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-chalkboard-teacher text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Model Source</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                    <a href="https://github.com/oarriaga/face_classification">Octavio Arriaga</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-dice-d20 text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Team GoodGameGang</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="https://github.com/Donthave1/goodgamegang">GitHub</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-cogs text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">OpenCV</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                    <a href="https://docs.opencv.org/3.4.1/d7/d8b/tutorial_py_face_detection.html">Haar Casscade Model</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="https://www.linkedin.com/in/edward-chen-48156950/" class="mx-2">
            <i class="fab fa-linkedin">EC</i>
          </a>
          <a href="https://www.linkedin.com/in/joshshigaki/" class="mx-2">
            <i class="fab fa-linkedin">JS</i>
          </a>
          <a href="https://www.linkedin.com/in/yuhsul1/" class="mx-2">
            <i class="fab fa-linkedin">PL</i>
          </a>
          <a href="https://www.linkedin.com/in/thomas-nakamoto-08934964/" class="mx-2">
            <i class="fab fa-linkedin">TN</i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Team GoodGameGang
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script> -->


    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script> -->

    <!-- Custom scripts for this template -->
    <script src="static/js/grayscale.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/grayscale.js') }}"></script> -->

  </body>

</html>
